body{
    width: 100%;
    background-color: #1d1b1b !important;
    font-size: small;
}

.navbar-custom{
    background-color: #ec4d37; 
}

.navbar-brand, .nav-link{
    color: #1d1b1b !important;
}

.subMenu{
    background-color: #ec4d37 !important; 
    border: none !important;
    
}

.itemLista{
    justify-content: center;
    text-align: center;
    height: 50px;
}
.itemLista:hover{
    background-color: #ae392a !important;
    color: white;
}

.dropdown-item:hover{
    background-color: #ae392a !important;
}


